<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    .container {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
      align-items: left;
      justify-content: left;
      font-size: 12px;
    }

    span {
      display: block;
      margin: 10px;
    }

    span.footer {
      font-size: 10px;
    }

    button {
      margin: 10px;
      padding: 8px;
      background-color: #ffaa00;
      color: #352356;
      border-radius: 4px;
    }

    a {
      text-decoration: none;
      color: #352356;
    }

  </style>
</head>
<body>
<div class="container">
  <span>Oi, {{name}}</span>

  <br>

  <span>
    Você solicitou a troca da senha de acesso ao Finance - Personal Control.
    <br>
    Para trocar é bem simples, basta clicar no botão abaixo e escolher sua nova senha de acesso!
  </span>
  <button type="button">
    <a href="{{link}}">Redefinir Senha</a>
  </button>

  <span class="footer">
    <strong>Atenção! Este acesso expira em 10 minutos.</strong><br>
      Caso você tenha visto esse e-mail e/ou tenha acessado após este prazo, solicite uma nova redefinição de senha.
  </span>

  <span class="footer">
    <strong>Muito obrigado, Equipe Finance</strong>
  </span>
</div>
</body>
</html>